<div id="intro" class="flex flex-col items-start mb-24">
    <h1 class="text-xl mb-4 font-medium dark:text-white uppercase">
        Datamosh
    </h1>
    <h1 class="text-sm font-light dark:text-white uppercase">
        A collection of datamoshed videos.<br> 
        No "glitch" filters were added to these videos,<br>
        occassionally post-effects are added, <br>
        but ultimately what is created is a result of
        <br>
        <br>   
        <i>manipulation of frames within the video.</i>
    </h1>
    <h1 class="text-sm mt-16 font-light dark:text-white uppercase">
        <b>Tools:</b> Avidemux, Final Cut Pro X
    </h1>
</div>