<div class="flex flex-col w-full">
    <img src='{{src}}' alt="">
    <div class="flex">
        <h1 class="text-lg w-full mb-8 mx-1 mt-1 font-light dark:text-white uppercase ">
        {{name}}
        </h1>
        <div class="h-1 w-full bg-gray-100 dark:bg-gray-900 mt-3"></div>
    </div>
</div>
