<div class="flex dark:bg-red-500 flex-col mx-auto w-2/3 justify-around mt-8">
    {{> intro}}
    <div class="flex flex-col gap-y-16">
        {{#each artworks as |art|}}
        {{> nft art}}
        {{/each}}
    </div>
</div>
