
{{> nav}}
{{> intro}}

<div class="flex flex-col">
    <div class="flex flex-col mt-16">
        {{#each artworks as |art|}}
        {{> nft art}}
        {{/each}}
    </div>
</div>
</div>
<script src="../path/to/flowbite/dist/flowbite.js"></script>
    <script src="/js/toggle-theme.js"></script>